@font-face {
    font-family: Silpakorn;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/SILPAKORN70NEW/SILPAKORN70NEW.ttf");
}

@font-face {
    font-family: Silpakorn70yr;
    font-style: normal;
    font-display: swap;
    src: url("/fonts/SILPAKORN70yr/SILPAKORN70yr.ttf");
}
