@font-face {
    font-family: Silpakorn;
    src: url("/fonts/SILPAKORN70NEW/SILPAKORN70NEW.ttf");
}

@font-face {
    font-family: Silpakorn70yr;
    src: url("/fonts/SILPAKORN70yr/SILPAKORN70yr.ttf");
}
