@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  max-width: 100%;
  overflow-y: visible;
  overflow-x: clip;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.2s;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  filter: blur(1rem);
}

.font-silpakorn {
  font-family: 'Silpakorn', sans-serif;
}